<div class="container">
  <div class="form-group-lg">
     <h1>CD CD Demo</h1>
      <!-- <div class="form-group">
          <label for="region">Region</label>
          <select id="regioname" name="regionname" class="form-control input-lg"
              (change)="rgSelection($event.target.value)">
              [(ngModel)]="selected" class="form-group"
              <option *ngFor="let rg of appdata.Region" [value]="rg.id">
                  {{rg.name}}
              </option>
          </select>
      </div> -->
  </div>
 
 
</div>